<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Exchange</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/">Recipe Exchange</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Cook On!
    </footer>
  </div>

</body>

</html>